.sameContainer{
    position: relative;
    display: flex;
    margin-top: 1.5%;
    justify-content: center;
    height: 40vh;
    
}

.forborder{
    border: 2px dotted black;
    border-style: dashed;
    height: 35vh;
    width: 40vw;
    
}
.explore{
   text-align: center;
   margin-top: 15%;
   font-size: 2.2rem;
   font-weight: 400;

}

.text{
    margin-bottom: 0px;
    position: absolute;
    bottom: 15.9%;
    border-radius: 50%;
    background-color: rgb(161, 161, 161);
    margin-left:1.5%;
}

.gamesContainer{
margin-left: 5%;
}

.gamestext{
   
  display: flex;
}

.blanki{
    
    height: 7vh;
    width:  4vw;
}

.leaderboard{
    padding: 10px;
    margin-left: 30% !important;
    border-radius: 0% !important;
}

.noti{
    margin-left: 1px;
}
